body{
	background-color:lightpink;
}
h1{
color: orange; 
font-size: 90px;
text-decoration: underline;
text-shadow: 3px 3px #ff0000; 
}

#first{
font-size: 100px;
}

.small{
font-size: 18px;
}


h2{
color: blue; 
font-size: 80px;
text-decoration: underline;
}

span{
font-style: italic;
}

h2 span{
text-decoration: line-through;
}